/*
* Clone: https://github.com/MrOtherGuy/firefox-csshacks
* Link/symlink chrome/autohide_sidebar.css here as userChrome-sidebery.css
*/
@import "userChrome-sidebery.css";

/* this is a placeholder: i use chezmoi to fill out the proper value on dotfile init */
@import ":HOME:/.cache/wal/colors.css";

 :root {

   /* Minimal Functional Fox variables*/
  --mff-bg: var(--background);
  --mff-icon-color: #e0fbfc;
  --mff-nav-toolbar-padding: 0px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: var(--color4);
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #fefefa;
  --mff-tab-font-family: "Iosevka Etoile", sans-serif;
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 0px;
  --mff-tab-pinned-bg: #70c1b3;
  --mff-tab-selected-bg: #ee6c4d;
  --mff-tab-soundplaying-bg: #9c89b8;
  --mff-urlbar-color: var(--color4);
  --mff-urlbar-focused-color: var(--color5);
  --mff-urlbar-font-family: var(--mff-tab-font-family);
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: var(--color5);
  --mff-urlbar-results-font-family: var(--mff-tab-font-family);
  --mff-urlbar-results-font-size: 12pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: var(--color4);
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
}

/* hide the tab bar. */
#TabsToolbar {
    display: none !important;
}

#urlbar {
    font-family: var(--mff-tab-font-family);
    font-weight: var(--mff-tab-font-weight);
    font-size: var(--mff-tab-font-size) !important;
    color: var(--mff-tab-color);
}
